


:host{
  display:block;
  margin-top:1rem;
  margin-bottom:50px;
}
mat-expansion-panel{
  margin-top:1rem;
  width:80%;
  margin:auto;
}

.info-text{
  text-align:center;
}

mat-spinner{
  margin:auto;
}

mat-card{
  margin:auto;
  /* margin-top:1rem; */
  margin-bottom:1rem;

  width:80%;

}
h1{
  /* margin:auto; */
  text-align: center;
}
